[package]
name = "thruster"
version = "0.7.6"
authors = ["Pete Mertz <peter.s.mertz@gmail.com>"]
description = "A middleware based http async web server."
readme = "README.md"
license = "MIT"
keywords = ["thruster", "router", "fast", "http", "hyper"]
documentation = "https://docs.rs/thruster"
homepage = "https://thruster.pete.pm"
repository = "https://github.com/trezm/thruster"
edition = "2018"

[profile.release]
debug = true

[[example]]
name = "most_basic_async"
required-features = ["thruster_async_await"]

[[bench]]
name = "app"
harness = false

[features]
default = ["hyper_server"]
hyper_server = [
  "hyper",
  "thruster-server/hyper_server"
]
thruster_async_await = [
  "thruster-proc",
  "thruster-app/thruster_async_await",
  "thruster-core/thruster_async_await",
  "thruster-context/thruster_async_await",
  "thruster-server/thruster_async_await"
]
thruster_error_handling = [
  "thruster-core/thruster_error_handling",
  "thruster-app/thruster_error_handling"
]

[dependencies]
hyper = { version = "0.12.25", optional = true }
thruster-app = { version = "0.7", path = "../thruster-app" }
thruster-context = { version = "0.7", path = "../thruster-context" }
thruster-core = { version = "0.7", path = "../thruster-core" }
thruster-middleware = { version = "0.7", path = "../thruster-middleware" }
thruster-proc = { version = "0.7", path = "../thruster-proc", optional = true }
thruster-server = { version = "0.7", path = "../thruster-server" }

[dev-dependencies]
diesel = { version = "1.3", features = ["postgres", "r2d2"] }
dotenv = "0.13.0"
lazy_static = "1.1.0"
futures = "0.1.23"
serde = "1.0.24"
serde_json = "1.0.8"
serde_derive = "1.0.24"
smallvec = "0.6.2"
